.tabla-datos{
  position: absolute;
  width: 900px;
  height: 74px;
  left: 300px;
  top: 200px;
}

.tabla-datos thead th{
  width: 256.3px;
  height: 42.8px;
  background: #F0F0F0;
  border: 1px solid #EBEBEB;
}

.tabla-datos tbody td{
  width: 256.63px;
  height: 71.61px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
}

.tabla-datos{
  position: absolute;
  width: 900px;
  height: 74px;
  left: 300px;
  top: 200px;
}

.tabla-datos thead th{
  width: 256.3px;
  height: 42.8px;
  background: #F0F0F0;
  border: 1px solid #EBEBEB;
}

.tabla-datos tbody td{
  width: 256.63px;
  height: 71.61px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
}

/* CSS */
.boton-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ajusta esto según el alto de tu fila */
  background: #000;
}

.boton {
  border: none;
  cursor: pointer;
  width: 30px; /* Ajusta esto al ancho deseado */
  height: 30px; /* Ajusta esto al alto deseado */
}

.boton-eliminar {
  background: url('/src/components/delete.png') no-repeat;
  background-size: cover;
}

.boton-modificar {
  background: url('/src/components/delete.png') no-repeat;
  background-size: cover;
}
