.tabla-datos{
  position: absolute;
  width: 900px;
  height: 74px;
  left: 300px;
  top: 200px;
}

.tabla-datos thead th{
  width: 256.3px;
  height: 42.8px;
  background: #F0F0F0;
  border: 1px solid #EBEBEB;
}

.tabla-datos tbody td{
  width: 256.63px;
  height: 71.61px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
}

/* Mostrar el botón al pasar el cursor sobre la fila */
.tabla-datos tbody tr:hover::after {
  content: 'Eliminar';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px; 
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px; 
}

/* Ocultar el botón por defecto */
.tabla-datos tbody tr::after {
  content: '';
  display: none;
}

